/* root */

:root {
  --bck: #fafafa;
  --wht: #fff;
  --gry: #dbdbdb;
  --fb: #0095f6;
  --fb-hover: rgba(0, 148, 246, 0.7);
  --txt-act: #8e8e8e;
  --txt-act-hover: rgba(142, 142, 142, 0.7);
}

* {
  transition: 0.3s ease;
}

/* body */

body {
  background: var(--bck);
}

/* main */

main {
  .container-frame-main {
    min-height: 620px;
  }

  .container-frame {
    background: var(--wht);
    border: 1px solid var(--gry);
    width: 350px;
    margin: 7px auto;

    &:first-of-type {
      margin-top: 2rem;
    }

    .container-top {
      .img {
        margin: 12px;
        margin-top: 3rem;
      }

      .txt {
        font-weight: bold;
        color: var(--txt-act);
        max-width: 268px;
        margin: 0 auto;
        font-size: 17px;
        font-weight: 600;
      }

      .button {
        margin: 0.6rem auto;
        width: 268px;
        background: var(--fb);
        border: none;
        border-radius: 4px;
        padding: 0.3rem;
        color: var(--wht);
        font-weight: 600;
        font-size: 14px;
        text-align: center;

        &:hover {
          background: var(--fb-hover);
        }
      }

      hr {
        width: 268px;
        margin: 1rem auto;
      }
    }

    .container-middle {
      form {
        input {
          background: var(--bck);
          border: 1px solid var(--gry);
          border-radius: 3px;
          width: 268px;
          margin: 3px;
          padding: 0.6rem;
          font-size: 12px;

          &:first-of-type {
            margin-top: 0.7rem;
          }
        }

        .text-under {
          font-size: 12px;
          width: 268px;
          margin: 0.8rem auto;
          color: var(--txt-act);
          a {
            text-decoration: none;
            font-weight: bold;
            color: var(--txt-act);

            &:hover {
              color: var(--txt-act-hover);
            }
          }

          .eula {
            margin-top: 1rem;
          }
        }

        .button {
          margin: 0.1rem auto;
          margin-bottom: 3rem;
          width: 268px;
          background: var(--fb);
          border: none;
          border-radius: 4px;
          padding: 0.3rem;
          color: var(--wht);
          font-weight: 600;
          font-size: 14px;
          text-align: center;

          &:hover {
            background: var(--fb-hover);
          }
        }
      }
    }

    .container-login {
      padding: 1.6rem;
      font-size: 14px;

      a {
        text-decoration: none;

        &:hover {
          color: var(--fb-hover);
        }
      }
    }
  }

  .container-app {
    .text {
      margin: 1rem;
    }

    .image {
      display: inline;

      img {
        height: 44px;
      }
    }
  }
}

/* footer */

footer {
  color: var(--txt-act);
  font-size: 12px;
  margin-top: 2rem;

  .github {
    font-weight: bold;
  }

  .copyright {
    margin: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    margin: 0.5rem;

    &:hover {
      color: var(--txt-act-hover);
    }
  }
}
